html{
  font-size: 140%;/*percentage for responsive text*/
}
body{
  margin: 0;
  background-image: url("img/night.jpg");
  background-size: cover;/*covers entire window*/
  background-repeat: no-repeat;
  background-attachment: fixed; /*keeps image from scrolling*/
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /*creates black outline around text for readability*/
}
main{
  margin:0 10px;
  font-family: 'Fredoka One';
}
header{
  position: relative;
  padding: none;
  padding-bottom: 50px;
}
#head-img{
  width: 100%;
}
.head-text-1{
  font-size: 3vmax; /*responsive size to viewport*/
  position: absolute; 
  top: 5px; 
  right: 60px; 
  font-family: 'Permanent marker', 'Indie Flower'; 
  color: #00000A; 
  text-align: center;
}
.head-text-2{
  position: absolute; 
  font-size: 1rem;
  top: 60px; 
  right: 60px; 
  font-family: 'Permanent marker'; 
  color: black; 
  text-align: center; 
}
.dropbtn { /*style of button for menu*/
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.dropdown { /*style for menu dropdown*/
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 60px;
  font-family: 'Permanent marker'; 
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  font-family: 'Indie Flower'; 
  z-index: 1;/*boxes start after menu block */
}
.dropdown-content a { /*style for shown dropdown*/
  color: white;
  padding: 12px 16px;
  display: block;
  font-family: 'Indie Flower'; 
}
.dropdown:hover .dropdown-content {/*shows dropdown in block*/
  display: block;
}
.container{
  display: -ms-grid;/*vendor ref*/
  display: grid;/*creates grid layout of content for side by side divs*/
  -ms-grid-columns: 50% 50%;/* vendor ref*/
  grid-template-columns: 50% 50%;/* 2 grid columns, same width*/
  grid-row-gap: 50px;
}
.container > div{
  font-family: 'Fredoka One';
  padding: 5px;
}
figcaption{ /*image caption style*/
  text-align: center;
  font-family:'Indie Flower';
  font-weight: bold; 
  border: 5px solid white;
  border-radius: 5px;
}
div > figure{ /*makes images full size*/
  width: 100%;
  margin: 0;
}
figure > .imgleft{
  box-shadow: 5px 5px 5px white; /*image shadow*/
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain; /*vendor ref*/
     object-fit: contain; /*keeps aspect ratio of image*/
}
figure > .imgright{
  box-shadow: -5px 5px 5px white; /*image shadow*/
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain; /*vendor ref*/
     object-fit: contain; /*keeps aspect ratio of image*/
}
#slideshow{
  overflow: hidden;/*hides images not in view*/
  width: 590px;
  margin: 0 auto;
  float: center;
  clear: both;
}
.slide-wrapper{ /*contains all images*/
  width: 2360px;
  animation: ease infinite;
  -webkit-animation: slide 18s ease infinite;
}
.slide{
  float: left;
  width: 590px;
}
.slide-img{
  width: 590px;
}
@-webkit-keyframes slide { /*vendor ref*/
  20% {margin-left: 0px;}
  40% {margin-left: -590px;}
  60% {margin-left: -1180px;}
  80% {margin-left: -1770px;}
}
@keyframes slide { /*controls keyframe timing*/
  20% {margin-left: 0px;}
  40% {margin-left: -590px;}
  60% {margin-left: -1180px;}
  80% {margin-left: -1770px;}
}
footer{
  color: lightblue;
  font-family: 'Permanent marker';
  margin:10px;
}
.foot-right{
  float: right;
}